@import "tailwindcss";

@font-face {
  font-family: "Nippo";
  src: url("/fonts/Nippo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space";
  src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
