html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "space";
}

.Underline {
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  &::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: black;
    transform-origin: right;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    border-radius: 50px;
  }
  &:hover {
    opacity: 0.8;
    &::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
